click
bump2version
pymongo
mongo_adapter
coloredlogs
pyyaml

cerberus
python-multipart
python-dotenv
email-validator
jinja2

# server stuff
passlib
fastapi
uvicorn
uvloop
httptools
gunicorn
python-jose
bcrypt
numpy
aiofiles
sendmail-container