
{% block content %}
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('server.batches')}}" >NIPT Batches</a>
    </div>
    {% if page_id!="index" %}
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="navbar-brand" data-toggle="dropdown">
                <i class="fa fa-align-justify fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
                <a class="active" href="{{ url_for('server.batches') }}"><i class="fa fa-home"></i> Start</a>
                <li class="divider"></li>
                <a class="active" href={{ url_for('server.statistics') }}><i class="fa fa-bar-chart"></i>  QC</a>
                <li class="divider"></li>
                <a class="active" href={{ url_for('login.logout') }}><i class="fa fa-sign-out"></i>  Sign Out</a>
                <li class="divider"></li>
            </ul>
        </li>
    </ul>
    {% endif %}
    <div class="navbar-right">
        <a class="navbar-brand">{{current_user.name}}</a>
    </div>
</nav>
{% endblock %}