{% extends 'layout/layout.html' %}



{% block body %}
{% include 'layout/navigation.html' %}
<div class="container-fluid">
    {% include 'batch/header.html' %}
    <div class="tab-content">
        <div class="tab-pane active" id='NCV_XY'>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="FFY" style="min-width:400px; height:800px; ">
                    </div>
                    <div id="FFX" style="min-width:400px; height:800px; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var XY_plot = document.getElementById('FFY')
    var data = []
    var layout = {
    title:'Fetal fraction Y and fetal fraction correlation.',
    annotations : [],
    legend:{hovermode:'closest' },
    hovermode:'closest',
    xaxis :{
            showline: true,
            zeroline: false,
            linecolor: '#636363',
            linewidth: 5,
            showgrid: false,
            gridcolor: '#bdbdbd',
            title: 'Fetal Fraction Y'
            },
            
    yaxis :{
            zeroline: false,
            showline: true,
            showgrid: false,
            linecolor: '#636363',
            linewidth: 5,
            title : 'Fetal Fraction (%)'
            },};
    var backstat = {
    y: {{control['FF']}},
    x: {{control['FFY']}},
    name: 'Negative (N={{control['count']}})',
    hoverinfo:'none',
    mode: 'markers',
    type: 'scatter',
    marker: {color: '#ccccb3'}}
    data.push(backstat);

    {% for sample in cases %}
    var trace = {
    y: [{{cases[sample]['FF']}}],
    x: [{{cases[sample]['FFY']}}],
    name: "{{sample}}",
    mode: 'markers',
    text: "{{sample}}",
    type: 'scatter'}
    data.push(trace);
    {% endfor %}

    Plotly.newPlot('FFY', data, layout);
</script>
<script>
    var XY_plot = document.getElementById('FFX')
    var data = []
    var layout = {
    title:'Fetal fraction X and fetal fraction correlation.',
    annotations : [],
    legend:{hovermode:'closest' },
    hovermode:'closest',
    xaxis :{
            showline: true,
            zeroline: false,
            linecolor: '#636363',
            linewidth: 5,
            showgrid: false,
            gridcolor: '#bdbdbd',
            title: 'Fetal Fraction X'
            },
            
    yaxis :{
            zeroline: false,
            showline: true,
            showgrid: false,
            linecolor: '#636363',
            linewidth: 5,
            title : 'Fetal Fraction (%)'
            },};
    var backstat = {
    y: {{control['FF']}},
    x: {{control['FFX']}},
    name: 'Negative (N={{control['count']}})',
    hoverinfo:'none',
    mode: 'markers',
    type: 'scatter',
    marker: {color: '#ccccb3'}}
    data.push(backstat);

    {% for sample in cases %}
    var trace = {
    y: [{{cases[sample]['FF']}}],
    x: [{{cases[sample]['FFX']}}],
    name: "{{sample}}",
    mode: 'markers',
    text: "{{sample}}",
    type: 'scatter'}
    data.push(trace);
    {% endfor %}

    Plotly.newPlot('FFX', data, layout);
</script>

{% endblock %}